.stay-productive{
    gap: 57px;
    margin-bottom: 180px;
}

.productive-img img{
    width: 615px;
}

.productive-content{
    max-width: 563px;
}

.productive-content h3{
    font-size: 40px;
    line-height: 50px;
    max-width: 400px;
    margin-bottom: 0.5em;
}

.productive-content p{
    margin-bottom: 1.125em;
}

.productive-content a{
    color: var(--clr4);
}