/* FLEX */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.column{
    flex-direction: column;
}

/* GENERAL */
.text-center{
    text-align: center;
}
.relative{
    position: relative;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* TYPOGRAPHY */
.fs-16{
    font-size: 16px;
}

.fs-20{
    font-size: 20px;
}
